.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-left {
    width: 20%;
}

.flex-right {
    width: 80%;
}

.ltc-h1 {
    font-size: 36px;
    text-align: left;
    font-variant: small-caps;
    font-weight: lighter;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.ltc-h2 {
    text-align: left;
    font-size: 24px;
    font-variant: small-caps;
    font-weight: lighter;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.ltc-p {
    text-align: left;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: lighter;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.listing_header {
    font-size: 26px;
    font-variant: small-caps;
    font-weight: lighter;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    text-align: center;
    padding: 8px;
    color: black;
    background: radial-gradient(#e8b0cd, #eb8dbc);

}

.ltc-category-menu-header {
    color: #F2F7F2;
    font-size: 22px;
    text-align: center;
    border: 1px solid black;
    border-bottom: 2px solid black;
}

.desc-box {
    border: 1px solid black;
    margin-bottom: 5px;
}

.ltc-h4 {
    text-align: left;
    width: 100%;
    padding-bottom: 0;
    font-variant: small-caps;
    font-weight: lighter;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.ltc-ul {
    list-style-type: none;
    margin: 0;
    border: 1px solid black;
    padding: 0;
    width: 95%;
    font-variant: small-caps;
    font-weight: lighter;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    background: linear-gradient(#da61a4, #e8b0cd);
}

.ltc-li a {
    display: block;
    border-bottom: 1px solid black;
    margin-top: 1px;
    padding: 5px 16px;
    text-decoration: none;
    color: #F2F7F2;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: lighter;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

/* Link color on hover */
.ltc-li a:hover {
    background: #F2F7F2;
    color: black;
}
