.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-left {
    width: 20%;
}

.flex-right {
    width: 80%;
}
h1 {
  font-size: 36px;
  font-variant: small-caps;
  font-weight: lighter;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}
h2 {
  font-size: 24px;
  font-variant: small-caps;
  font-weight: lighter;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

h3 {
    background-color: #da61a4;
    text-align: center;
    font-size: 22px;
    border: 1px solid black;
    padding-bottom: 0;
}

h4 {
    text-align: left;
    padding-bottom: 0;
    font-variant: small-caps;
    font-weight: lighter;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    border: 1px solid black;
    padding: 0;
    width: 95%;
    font-variant: small-caps;
    font-weight: lighter;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    background: linear-gradient(#da61a4, #e8b0cd);
}

li a {
    display: block;
    border-bottom: 1px solid black;
    margin-top: 1px;
    padding: 5px 16px;
    text-decoration: none;
    color: #F2F7F2;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: lighter;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

/* Link color on hover */
li a:hover {
    background: #F9FBB2;
    color: black;
}

p {
    text-align: left;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: lighter;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

strong {
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.listing_header {
  font-size: 26px;
  font-variant: small-caps;
  font-weight: lighter;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  text-align: center;
  padding: 8px;
  color: #F2F7F2;
  background: radial-gradient(#bf759a, #BB5086);
  
} 
.category-menu {
  color: #F2F7F2;
  font-size: 22px;
  text-align: center;
  border: 1px solid black;
  border-bottom: 2px solid black;
}
.desc-box {
  border: 1px solid black;
  margin-bottom: 5px;
}
